/*初始化样式*/
*{box-sizing:border-box;}

html,body,ul,li,p,input,main,span,div,h1,h2,h3,h4,h5,footer,figure{margin: 0;padding: 0;}

.fl {float: left}
.fr {float: right}
.clearFix {overflow: hidden}

a{text-decoration: none;cursor: pointer}